{% extends 'base.html '%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
      <a href="{% url 'game' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="List group item heading" data-translation="Последние новости из мира игр" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Последние новости из мира игр</ya-tr-span></h6>
            <p class="mb-0 opacity-75"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph." data-translation="Здесь появятся новости из мира игр и игровой индустрии." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Здесь появятся новости из мира игр и игровой индустрии.</ya-tr-span></p>
          </div>
          <small class="opacity-50 text-nowrap"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="now" data-translation="теперь" data-ch="0" data-type="trSpan" style="visibility: initial !important;">теперь</ya-tr-span></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Another title here" data-translation="Еще одно название здесь" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Еще одно название здесь</ya-tr-span></h6>
            <p class="mb-0 opacity-75"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph that goes a little longer so it wraps to a new line." data-translation="Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку.</ya-tr-span></p>
          </div>
          <small class="opacity-50 text-nowrap"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="3d" data-translation="3D" data-ch="0" data-type="trSpan" style="visibility: initial !important;">3D</ya-tr-span></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Third heading" data-translation="Третий заголовок" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Третий заголовок</ya-tr-span></h6>
            <p class="mb-0 opacity-75">Некоторое содержимое-заполнитель в абзаце.</p>
          </div>
          <small class="opacity-50 text-nowrap"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="1w" data-translation="1w" data-ch="0" data-type="trSpan" style="visibility: initial !important;">1w</ya-tr-span></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Another title here" data-translation="Еще одно название здесь" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Еще одно название здесь</ya-tr-span></h6>
            <p class="mb-0 opacity-75"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph that goes a little longer so it wraps to a new line." data-translation="Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку.</ya-tr-span></p>
          </div>
          <small class="opacity-50 text-nowrap"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="3d" data-translation="3D" data-ch="0" data-type="trSpan" style="visibility: initial !important;">3D</ya-tr-span></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Another title here" data-translation="Еще одно название здесь" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Еще одно название здесь</ya-tr-span></h6>
            <p class="mb-0 opacity-75"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph that goes a little longer so it wraps to a new line." data-translation="Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку.</ya-tr-span></p>
          </div>
          <small class="opacity-50 text-nowrap"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="3d" data-translation="3D" data-ch="0" data-type="trSpan" style="visibility: initial !important;">3D</ya-tr-span></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Another title here" data-translation="Еще одно название здесь" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Еще одно название здесь</ya-tr-span></h6>
            <p class="mb-0 opacity-75"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph that goes a little longer so it wraps to a new line." data-translation="Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Содержимое некоторого заполнителя в абзаце немного длиннее, поэтому оно переносится на новую строку.</ya-tr-span></p>
          </div>
          <small class="opacity-50 text-nowrap"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="3d" data-translation="3D" data-ch="0" data-type="trSpan" style="visibility: initial !important;">3D</ya-tr-span></small>
        </div>
      </a>
    </div>
  </div>
{% endblock %}