
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4"><ya-tr-span data-index="2-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Gaming Bulletin" data-translation="Простой заголовок" data-ch="0" data-type="trSpan">Gaming Bulletin</ya-tr-span></span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="{% url 'home' %}" class="btn btn-dark rounded-pill px-3" aria-current="page"><ya-tr-span data-index="3-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="News" data-translation="Новости" data-ch="0" data-type="trSpan">Новости</ya-tr-span></a></li>
    <li class="nav-item"><a href="{% url 'anews' %}" class="btn btn-dark rounded-pill px-3"><ya-tr-span data-index="7-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="All News" data-translation="Все новости" data-ch="0" data-type="trSpan">Все новости</ya-tr-span></a></li>
  </ul>
</header>
